@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap');

a:hover {
  color: #CEBAA3;
}


 

 
 
img {
      user-select: none;
      pointer-events: none;
      border: none;
      padding: 0px;
      margin: 0px;
    }


a
{
  color: white;
  text-decoration: none;
  
}

ul
{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

li
{
  line-height: 2em;
}

iframe
{
  border: none;
  overflow: hidden;
}

body
{
  font-family:'Helvetica';
  border: none;
  padding: 0px;
  margin: 0px;
}

 

@font-face {
  font-family: "atypi_atlas_title"; 
  src: url("../fonts/atlas.TTF") format("truetype");

  font-weight: normal; 
  font-style: normal; 
}



#nav_color
{
    color: #D8C7B0;
}

#nav_color:hover
{
    color: white;
}

/* ===================== NAV ===================== */

#top_navs {
    height: 90px;
    width: 100%;
    max-width: 100%;  
    padding: 0 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
}

 
.top_navs .logo {
    display: block;
    width: 45px;
    height: 45px;
    background: url("../images/logo/logo_light_yellow.png") no-repeat center/contain;
}

.logo:hover
{
 background: url("../images/logo/logo_white.png") no-repeat center/contain;

}

 
.menu_btn {
    background: transparent !important;
    border: none;
    color: white;
    font-size: 2.5rem !important;  
    font-weight: 100 !important;  
    cursor: pointer;
    line-height: 1;
    padding: 0;
    font-family: Arial, sans-serif;
    transition: color 0.3s ease;
    z-index: 1000;
}

.menu_btn:hover {
    color: #D8C7B0;
}

.menu_btn.dark-mode {
  color: black;  
}

.menu_btn.dark-mode:hover {
    color: #D8C7B0;
}
 
#myLinks {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #0A192F;  
    z-index: 2000;
    display: none;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

 
#myLinks.open {
    display: flex !important;
}

 
.wrap_header {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.2rem;
}

.wrap_header a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: 'Inter', -apple-system, sans-serif;
    font-weight: 800;
    transition: 0.3s ease;
    margin-bottom: 1em;
}

.wrap_header a:hover {
    color: #D5C5AE;
    transform: translateY(-2px);
    letter-spacing: 10px;
}

 
.close_btn {
    position: absolute;
    top: 30px;
    right: 4%;
}


 



/* ===================== SCROLL LOCK ===================== */


#wrap
{
  width: 100%;
  max-width: 100%;
  height: auto;
  background: #101A43 !important;
  overflow: hidden;
}

#header_bg
{
  max-width: 100%;
  height:70vw;
  background: url("../images/atypi2019toyko_images/banner.gif") no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.dropdown-content a:hover {
  color: #D8C7B0;
}

.dropbtn
{
  color: white;
}


.dropbtn:hover
{
  color: #D8C7B0;
}


 
#banner
{
  width:100%;
  height: auto;
  text-align: center;
  color: white;
  font-family:'Helvetica';
  max-width: 100%;
  overflow: hidden; 
}

.banner_title
{
  color: #D8C7B0;
  font-family: 'atypi_atlas_title';
  font-size:5em;
}

.atlas_title
{
  color: #D8C7B0;
  font-family: 'atypi_atlas_title';
  font-size:3em;
  
}

.kanagawa_title
{
  color: #D8C7B0;
  font-family: 'atypi_atlas_title';
  font-size:2em;
  
}


.banner_text
{
  line-height:2em;
  font-size: 1.3em;
}

.banner
{
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1em;
}

.banner_right
{
  padding-top:15%;
   
}

 

#project
{
  width: 100%;
  height: auto;
  color: white;
  overflow: hidden;
  border: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  
}

.objective
{
  max-width: 1024px;
  height: auto;
  margin: 0px auto;
  padding: 1em;

}

#the_great_wave_off_kanagawa
{
  max-width: 1024px;
  height: auto;
  margin: 0px auto;
  padding: 1em;
  margin-top: 5em;
}

.kanagawa_left
{
  grid-area: kanagawa_left;
}

.kanagawa_right
{
  grid-area: kanagawa_right;
}

.the_great_wave_off_kanagawa
{
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  grid-template-areas: "kanagawa_left kanagawa_right";
  grid-column-gap:3em;
}

.kanagawa_left
{
  width: 100%;
  height: auto;
}

.kanagawa_right
{
  width: 100%;
  height: auto;
  background: url("https://mcraftsmanship.com/cdn/shop/articles/Katsushikahokusaipaint_1600x.jpg?v=1636120956") no-repeat;
  background-position: top center;
  background-size: cover;
}





#about_bg
{
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  background: url("../images/atypi2019toyko_images/about_bg.png") no-repeat 0 0;
  background-size: cover;
  padding-bottom: 30em;
  border: none;
  border-style: none;
  overflow: hidden;
}

.product_detail
{
  max-width: 1024px;
  height: auto;
  padding: 0px;
  margin:auto;

}

.product_detail_bold
{
  font-weight: bold;
  color: #101C35;
}

 

.atlas_title
{
  color: #D8C7B0;
  font-family: 'atypi_atlas_title';
  
  font-size: 3em;
}

#project_atypi
{
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
  margin-top: 5em;
}

.atypi
{
  max-width: 1024px;
  height: auto;
  margin: 0px auto;
}



.product_detail_right_01
{
  width: 100%;
  height: auto;
  background: url("../images/atypi2019toyko_images/20240404_135058.png") no-repeat;
  background-size:contain;
  background-position: center;
  line-height:15em;
}

.product_detail_right_02
{
  width: 100%;
  height: auto;
  background: url("../images/atypi2019toyko_images/20240404_135138.png") no-repeat;
  background-size:contain;
  background-position: center;
  line-height:10em;
}

 

.product_detail_text
{
  max-width: 100%;
  height: auto;
  margin: 0px;

}

.product_detail_text h1
{
  text-transform: uppercase;
  color: #999;
}

.highlight-box 
{
  background-color: #f9f9f9;
  padding: 20px 25px;
  border-left: 3px solid #101A43;  
  margin: 25px 0;
  font-style: italic;
}


.product_detail_right
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 2em;
  margin-bottom: 2em;
  max-width: 1024px;
  margin: auto;
  padding-top: 3em;
}

.product_detail_text a{color: black;}
.product_detail_text a:hover{color: #D8C7B0;}

@media only screen and (max-width: 1024px) 
{
  .banner
  {
    grid-template-columns: auto;
  }

  .banner_right
  {
    padding-bottom:20em;
    text-shadow: 2px 2px #101C35;
  }

  .the_great_wave_off_kanagawa
  {
    grid-template-columns: auto;
    grid-template-areas:  "kanagawa_right" "kanagawa_left";
    grid-gap: 3em;
  }
  .kanagawa_right
  {
    line-height: 30em;
  }
  .banner_title{font-size: 3em}

  .banner_text{
    font-size: 1.2em;
  }
.product_detail_text
  {
    padding:5%;
  }

  #the_great_wave_off_kanagawa, .product_detail_right
  {
    padding:5%;
  }

  #project .objective
  {
    padding-left: 5%;
  }


  iframe
  {
    width:90%;
    margin: auto;
    text-align: center;
    margin-left: 5%;
  }

  form
  {
    width: 80%;
  }

 
}


.no-scrollbar 
{
  overflow: hidden;
  margin-top: 2em;
}



form
{
    max-width: 1024px;
    text-align: left;
    margin: auto;
}

#contact-form
{
  margin-top: 2em;
}

input,textarea
{
    width: 100%;
    height: auto;
}

label
{
    line-height: 2em;
    color: #D8C7B0;
    font-weight: bold;
    text-transform: uppercase;

}

.textbox
{
    margin-bottom: 2em;
}

.textbox:focus {
    outline: none;
    border: 2px solid #D8C7B0;
    background-color: #fffbf2;
}

.submit_button
{
    text-align: center;
    padding: 0px;
    margin: 0px auto;
}

.submit_button button
{
    background: #D8C7B0;
    color:#001A33;
    border: none;
    line-height: 1.5em;
    width:6em;
    border-radius: 5%;
    font-size: 1.2em;
    line-height: 2em;
    text-align: center;
    text-transform: uppercase;
    font-family: "Momo Trust Display", sans-serif;
    
}

.submit_button button:hover
{
    background:white;
    color: black;
}

.contact_me
{
    background: #001A33;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.fa {
  padding: 0.5em;
  font-size:4em;
  width:1em;
  text-align: center;
  text-decoration: none;
  margin: 1em;
  border-radius: 50%;
}

.fa:hover {
    /*opacity: 0.7;*/
    color: #FAC363;
    border:2px solid #FAC363;
}


.fa-google {
  background: white;
  color: black;
}

.fa-linkedin {
  background: white;
  color: black;
}


.fa-instagram {
  background: white;
  color: black;
}


.social_media_buttons
{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    background: #001A33;
    padding-top: 2em;
}

.bg_bootom
{
    color: white;
    text-align: center;
    line-height: 5em;
    background: #001A33;
    text-transform: uppercase;
    font-weight: bold;
}


/************************************************/

 .reference_section
 {
   width: 100%;
   margin-top: 2em;
 }

 .detail-label
 {
  text-transform: uppercase;
  font-weight: bold;

 }

 .detail-item
 {
  margin-bottom: 2em;
 }

 .product_detail_list_grid_items
 {
  width: 100%;
  margin: 0px;
  padding: 0px;
 }

 .product_detail_list
 {
  max-width: 1024px;
  margin: auto;
  font-family: 'Helvetica';
  margin-top: 5em;
 }

 .product_detail_list h1
 {
  text-transform: uppercase;
  color: #D8C7B0;
  font-size: 0.75rem;
  letter-spacing: 3px;
  margin: 0 0 10px 0;
 }

 .product_detail_list_grid_item_title
 {
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #999;
  margin-bottom: 8px;
 }


 .product_detail_list_grid
 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap:4em;
 }

 .product_detail_list_grid_item
 {
  border-bottom: 1px solid #101A43;
  width: 100%;
  height: auto;
  padding: 0px;
  margin: 0px;
 }

 .product_detail_list_grid_item
 {
  padding-bottom: 1em;
 }

 .color-circles {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.circle-group {
    text-align: center;
    font-size: 10px;
    font-family: monospace;
    color: #777;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}


@media only screen and (max-width: 1024px) 
{
  .product_detail_list
  {
    padding:5%;
  }

  .product_detail_list_grid
  {
    grid-template-columns: 1fr;
  }


}


#header_bg, #about_bg {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}


@media only screen and (max-width: 1024px) 
{
 

  .social_media_buttons,img, #about_bg, #header_bg 
  {
    margin-top: -1px;
    padding-top: -1px;
    margin-bottom: -1px;
    padding-bottom: -1px;
    
  }

  .wrap_header a
  {
    font-size: 1.2rem;
  }

 
}

