body{  background: #001A33;}


#edu
{
  width: 100%;
  margin: 0px;
  padding: 0px;
  background: url("../images/bgimages/Alice-web-design_02_1.webp") no-repeat top center;
  background-size:cover;
  
}

a:hover
{
  color: orange;
}

.edu_bottom
{
  line-height:30em;
}

.edu_bg
{
  max-width: 80%;
  margin: auto;
  padding: 0px;
}

#education
{
  width: 100%;
  padding: 0px;
  margin: 0px;
  text-align: center;
}

#education img
{
  width:60%;
  height: auto;
  margin-top: 30em;
}


.red_title
{
  color: #B30000;
  font-size:2em;
  font-weight: bold;
  text-align:center;
}

.edu_two_columns_left
{
  text-align:left;
  left: 15%;
  position: relative;
  padding-bottom: 15em;

}


 
.edu_two_columns_right
{
  text-align:right;
  right: 15%;
  position: relative;
  padding-bottom: 15em;
 
 
}


.two_columns p
{
  font-weight: bold;
}


@media only screen and (max-width:600px)
{
  .edu_two_columns_left
  {
    text-align:left;
    left: 5%;
    position: relative;
  }

  .edu_two_columns_right
  {
    text-align:right;
    left: 5%;
    position: relative;
  }


  .red_title
  {
    font-size: 1.3em;
  }

  .edu_bottom
  {
    line-height:2em;
  }

  #education img
  {
    width:100%;
    height: auto;
    margin-top:17em;
  }



}
 

/***************/
