.image-container
{
  max-width:100%;
  position:relative;
  top: 0px;
  z-index: 6;
  margin:0px;
  padding: 0px;

}

.top_navs 
{
  max-width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 4em;
  text-transform: uppercase;
}

 
.image_container_navs 
{
  max-width:85%;
  margin: auto;
  line-height: 4em;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  display: none;
}

.image_container_navs.open {
  display: block;
}

.top_navs.hidden {
  display: none;
}

.menu_btn, .top_navs button
{
	background: none;
	border: none;
	color: white;
	font-size: 2em;
	line-height:2em;
	cursor: pointer;
	font-family: Arial, sans-serif;
}

.menu_btn:hover, .menu_btn a:hover 
{
	color:#A5D0F0;

}

#orange_nav {
  color:#A5D0F0;
  
}

#orange_nav:hover {
  color:white;
}

.white_nav
{
    color:white;
}


.white_nav:hover {
  color:#A5D0F0;
}



.wrap_header
{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	font-family: "Momo Trust Display", sans-serif;
	grid-column-gap:2em;
  text-align: right;
}


 

/* ===================== LOGO ===================== */

.logo {
  width: 100%;
  height: 4em;
  display: block;
  background: url("../images/logo/logo_blue.png") no-repeat left center/2em;
}
 

.logo:hover {
  background-image: url("../images/logo/logo_white.png");
}


/* ===================== LOGO ===================== */