
.dropbtn
{
  border: none;
  font-family: 'Helvetica';
  font-size: 1.1em;
  font-weight: bold;
  background: transparent;

}

img {
      user-select: none;
      pointer-events: none;
    }


botton
{
  border: none;
}


.dropdown-content 
{
  display: none;
  line-height: 3em;
}

.dropdown-content a 
{
  color: black;
  text-decoration: none;
}

.dropdown-content a:hover {
  /*color: #FFB439;*/
  text-decoration: underline;
  text-decoration-thickness:0.2em;
}

.dropdown:hover .dropdown-content 
{
  display: block;
  text-transform: uppercase;

}

.dropdown:hover .dropbtn
{
  /*color: orange;*/
  text-decoration: underline;
  text-decoration-thickness:0.2em;
}

