body 
{    
  margin: 0;
  overflow-x: hidden;
}

a{text-decoration: none;}



/******************************************/
.poker_navs
{
    display: grid;
    width:40%;
    grid-template-columns:repeat(4, 1fr);
    color: black;
    margin: 0px;
    padding: 0px;
    margin: auto;
    font-size: 4em;
    text-align: center;
    position: relative;
    z-index:30;
}

.poker_navs a{color:#001A33;}
.poker_navs a:hover{color:#B30000;}

.red_poker_nav a
{
    color: #B30000;
}

.poker_nav_white a
{
    color: white;
}


.red_poker_nav a:hover
{
    color: #001A33;
}



@media only screen and (max-width:600px)
{
    .poker_navs
    {
        font-size: 2em;
    }

}


:root 
{
  --card-bg: #fffbf2;
  --border-color: #d4af37; /* Vintage gold */
  --text-color: #2c2c2c;
  --accent-red: #b30000;
}



 
.wonderland-nav 
{
    position: fixed;
    left: 0;
    top:20%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    z-index: 5;
    text-transform: uppercase;
    font-family: "Momo Trust Display", sans-serif;
    font-weight: bold;
}




  .nav-card {
    background: var(--card-bg);
    border: 2px solid var(--border-color);
    border-radius: 5px 15px 15px 5px;
    padding: 15px 15px;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.1rem;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.1);
    will-change: transform;
    transform: translateX(-75%) rotate(-2deg);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width:250px;
  }


  .nav-card span {
    margin-left: 15px;
    font-size: 1.4rem;
    color: var(--accent-red);
  }

  .nav-card:hover {
    transform: translateX(-10px) rotate(0deg);
    background-color: #fff;
    box-shadow: 0 0 15px rgba(212, 175, 55, 0.6);
    border-color: #FFB439;
  }


  .nav-card.black span {
    color: #000;
  }



#side_navigation
{
  padding: 0px;
  margin: 0px;
  position: fixed;
  left: 0px;
  top:10%;
  background: none;
  display: flex;
  cursor: pointer;
  border: none;
  text-align: left;
  max-width: 70px;
}


/*#wonderland-nav
{
  display: none;
}*/


@media only screen and (max-width:600px)
{
  #side_navigation
  {
    padding: 0px;
    margin: 0px;
    position: fixed;
    left: 0px;
    top:10%;
    background: none;
    display: flex;
    cursor: pointer;
    border: none;
    text-align: left;
  }

}
/*****************/

 
.poker_nav a, .red_poker_nav a, .poker_nav_white a {
    display: inline-block;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.poker_nav a:hover, .red_poker_nav a:hover, .poker_nav_white a:hover {
    transform: translateY(-10px) scale(1.3) rotate(10deg);
    text-shadow: 0 0 15px rgba(255, 215, 0, 0.8);  
    color: #ff4d4d; 
}


/*******************/