@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100..900&family=Inter:wght@100..900&family=Momo+Trust+Display&family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo:ital,wght@0,100..900;1,100..900&family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Momo+Trust+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html 
{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

a{text-decoration: none;}

 

.pro_cad_banner
{
	width: 100%;
	text-align: center;
	height: 80vw;
}

img
{
	max-width: 90%;
	padding: 0px;
	margin: auto;
	text-align: center;
	
}

.image-container
{
  max-width:100%;
  position:relative;
  top: 0px;
  z-index: 6;
  margin:0px;
  padding: 0px;

}

.top_navs 
{
  max-width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 4em;
  text-transform: uppercase;
  color: black;
}

 
.image_container_navs 
{
  max-width:85%;
  margin: auto;
  line-height: 4em;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  display: none;
  color: black;
}

.image_container_navs.open {
  display: block;
}

.top_navs.hidden {
  display: none;
}

.menu_btn, .top_navs button
{
	background: none;
	border: none;
	color: black;
	font-size: 2em;
	line-height:2em;
	cursor: pointer;
	font-family: Arial, sans-serif;
}

.menu_btn:hover, .menu_btn a:hover 
{
	color:#E7C393;

}

#orange_nav {
  color:#E7C393;
  
}

#orange_nav:hover {
  color:black;
}

.white_nav
{
    color:black;
}


.white_nav:hover {
  color:#E7C393;
}



.wrap_header
{
	width: 100%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	font-family: "Momo Trust Display", sans-serif;
	grid-column-gap:2em;
    text-align: right;
}


 

/* ===================== LOGO ===================== */

.logo {
  width: 30px;
  height: 4em;
  display: block;
  background: url("../images/logo/logo_yellow.png") no-repeat left center/2em;
}
 

.logo:hover {
  background-image: url("../images/logo/logo_black.png");
}


/* ===================== LOGO ===================== */


#contact_me, .submit_button, .bg_bootom
{
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}

form
{
  margin-top: 2em;
  width: 70%;
  text-align: left;
  margin: auto;
}


input,textarea
{
  width: 100%;
  height: auto;
}

label
{
  line-height: 2em;
  color: #001A33;
  font-weight: bold;
  text-transform: uppercase;

}

.textbox
{
  margin-bottom: 1em;
}

.textbox:focus {
  outline: none;
  border: 2px solid #E6C594;
  background-color: lightyellow;
}

.submit_button
{
  text-align: center;
  padding: 0px;
  margin: 0px auto;
}

.submit_button button
{
  background: #001A33;
  color: white;
  border: none;
  line-height: 1.5em;
  width:6em;
  border-radius: 5%;
  font-size: 1.2em;
  line-height: 2em;
  text-align: center;
    
}

.submit_button button:hover
{
  background:#E6C594;
}

.contact_me
{
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.fa {
  padding: 0.5em;
  font-size:4em;
  width:1em;
  text-align: center;
  text-decoration: none;
  margin: 1em;
  border-radius: 50%;
}

.fa:hover 
{
  color:white;
  background: #E6C594;
}


.fa-google {
  background: black;
  color: white;
}

.fa-linkedin {
  background: black;
  color: white;
}


.fa-instagram {
  background: black;
  color: white;
}


.social_media_buttons
{
  margin: 0 auto;
  width: 100%;
  text-align: center;
  margin-top: 2em;
}

.bg_bootom
{
  text-align: center;
  line-height: 3em;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
}
