@import url('https://fonts.googleapis.com/css2?family=Anton&family=Archivo:ital,wght@0,100..900;1,100..900&family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Momo+Trust+Display&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#projects
{
	margin: 0px;
	padding: 0px;
	width: 100%;
	text-align: center;
	padding-top:27%;
}


.projects_bg
{
	margin: 0px;
	padding: 0px;
	width: 100%;
	background: url("../images/bgimages/project_bg.jpg") no-repeat top center;
    background-size:contain;
    height:100vw;
    text-align: center;

}

 
#projects img
{
	width: 55%;
}

 
 

/* ===== MAIN CONTAINER ===== */
.container {
    position: relative;
    height:100vh;
    background-size:cover;
    background-repeat:no-repeat;
    background-position: top center;
    transition: background-image 0.6s ease;
    color: white;
}

.bg-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.7);
}

.content {
    position: absolute;
    left:15%;
    bottom: 80px;
    max-width: 600px;
    z-index: 10;
}

#sub-title {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

#main-title {
    font-size: 48px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

#desc {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 25px;
}

#detail-btn{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    line-height: 2em;
    padding: 0.7em;
    margin-top: 3em;

}

#detail-btn:hover {
    background: #fff;
    color: #000;
}



/* ===== NUMBER NAV ===== */
.pro_nav {
    position: absolute;
    right:15%;
    bottom: 80px;
    display: flex;
    flex-direction: column;
    z-index:10;
    gap:1em;
    text-align: right;
    font-family: "Momo Trust Display", sans-serif;
}

.nav-item {
    cursor: pointer;
    opacity: 0.4;
    transition: 0.3s;
}

.nav-item.active,
.nav-item:hover {
    opacity: 1;
    font-size: 1.3em;
    
}



.pro_section_top {
    position: absolute;
    width: 100%;
    z-index: 2;
}

.pro_section_bottom {
    width: 100%;
    z-index:2;
    bottom: 0;
    position: absolute;
    background: url("../images/bgimages/Alice-web-design_12.png") repeat-x bottom center;
    background-size:contain;
    height:5vw;
}

@media only screen and (max-width:600px)
{

    .content 
    {
        position: absolute;
        left:15%;
        bottom: 80px;
        max-width:400px;
    }

    .pro_nav 
    {
        position: absolute;
        right:5%;
        bottom: 80px;
        display: flex;
        flex-direction: column;
        z-index:10;
        gap:1em;
        text-align: right;
        font-family: "Momo Trust Display", sans-serif;
    }


 


}

.video_project
{
    width: 100%;
    background: #001A33;
    padding: 0px;
    margin: 0px;
    padding-top: 3em;
    text-align: center;
}

.video_project iframe
{
    width: 70%;
    padding: 0px;
    margin: auto;
    border: none;
    margin-top: 3em;
}

@media only screen and (max-width:600px)
{
    .video_project iframe
    {
        width: 90%;
        height: 20em;
    }
}

.video_project_text
{
    color: white;
    max-width: 70%;
    margin: auto;
    text-align: left;
    padding: 0px;
    margin-top: 2em;
}

.video_project_text_sub-title {
    font-size:1em;
    padding: 0px;
    margin: 0px;
    margin-bottom:0.5em;
}

.video_project_text_main-title {
    font-size:3em;
    padding: 0px;
    margin: 0px;
    margin-bottom:0.5em;
    text-transform: uppercase;
    font-family: "Momo Trust Display", sans-serif;
}

.video_project_text_desc {
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 25px;
}
