#education img:hover, 
#experience img:hover,
#skills img:hover,
#achievement img:hover,
#projects img:hover,
#contact_me img:hover
{
  animation: sway 1s ease-in-out infinite;
}

@keyframes sway {
  0%   { transform: rotate(0deg); }
  25%  { transform: rotate(2deg); }
  75%  { transform: rotate(-2deg); }
  100% { transform: rotate(0deg); }
}



@media only screen and (max-width:600px)
{
  #education img, 
  #experience img,
  #skills img,
  #contact_me img
  {
    width: 100%;
  }
  #projects img
  {
    width: 80%;
  }
  #achievement img{width: 130%;}
}


/**********************/

 