@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100..900&family=Inter:wght@100..900&family=Momo+Trust+Display&family=Montserrat:wght@100..900&display=swap');

@font-face {
  font-family: "atlas"; 
  src: url("../fonts/atlas.TTF") format("truetype");
  font-weight: normal; 
  font-style: normal; 
}

@font-face
{
  font-family:'Helvetica';
  src: url("../fonts/Helvetica.ttf") format("truetype");
  font-weight: normal; 
  font-style: normal; 
  background: black;
}

/*
div
{
  border: none;
  padding: 0px;
  margin: 0px;
  overflow: hidden;
  outline: hidden;
}

*/



html 
{
  scroll-behavior: smooth;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: Helvetica, sans-serif;
  padding: 0px;
  margin: 0px;
}

img 
{
  height: auto;
  border: 0px;
  margin: 0px;
  padding: 0px;
}

a 
{
  text-decoration: none;
}

form
{
  margin-top: 2em;
  width: 70%;
  text-align: left;
  margin: auto;
}


input,textarea
{
  width: 100%;
  height: auto;
}

label
{
  line-height: 2em;
  color: #001A33;
  font-weight: bold;
  text-transform: uppercase;

}

ul 
{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

li 
{
  padding: 0px;
  margin: 0px;
}
 

.two_columns
{
  width: 100%;
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  grid-column-gap:3em;
  margin-top: 2em;
}

.two_columns_left
{
  text-align: left;
}

.two_columns_right
{
  text-align: right;
}


.slide_up {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  border: none;
  outline: none;
}

.slide_up.show {
  opacity: 1;
  transform: translateY(0);
  border: none;
  outline: none;
}

button, .social_media_buttons a
{
  z-index: 100;
  position: relative;
}


 
