@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100..900&family=Inter:wght@100..900&family=Momo+Trust+Display&family=Montserrat:wght@100..900&display=swap');

html 
{
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

img 
{
  max-width: 100%;
  height: auto;
  border: 0px;
}

a 
{
  text-decoration: none;
}

form
{
  margin-top: 2em;
  width: 70%;
  text-align: left;
  margin: auto;
}


input,textarea
{
  width: 100%;
  height: auto;
}

label
{
  line-height: 2em;
  color: #001A33;
  font-weight: bold;
  text-transform: uppercase;

}

ul 
{
  list-style: none;
  padding: 0px;
  margin: 0px;
}

li 
{
  padding: 0px;
  margin: 0px;
}

.two_columns
{
  width: 100%;
  display: grid;
  grid-template-columns:repeat(2, 1fr);
  grid-column-gap:3em;
  margin-top: 2em;
}

.two_columns_left
{
  text-align: left;
}

.two_columns_right
{
  text-align: right;
}


.slide_up {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.slide_up.show {
  opacity: 1;
  transform: translateY(0);
}

button, .social_media_buttons a
{
  z-index: 100;
  position: relative;
}



