#work_experience
{
  width: 100%;
  margin:0px;
  padding: 0px;
}

#experience
{
  width: 100%;
  text-align: center;
}

#experience img
{
  width:60%;
  height: auto;
  margin-top: 3em;
}



 .experience_bg
{
    background: url("../images/bgimages/Alice-web-design_03_3.gif") no-repeat top center;
    background-size:cover;
    max-width:70%;
    margin:auto;
    padding: 0px;
    color: white;
    padding-bottom: 20em;
        
 }

 .three_columns
 {
    width: 100%;
    display: grid;
    grid-template-columns:1fr 0.5fr 1fr;
 }

 .experience_text_left
 {
    text-align: left;
    width: 100%;
    padding-top: 20em;
 }

 .experience_text_right
 {
    text-align: right;
    width: 100%;
    padding-top: 20em;
 }

 .experience_text_right h2,  .experience_text_left h2
 {
    font-size: 1.2em;
    color: #FCC564;
    text-transform: uppercase;
    font-family: 'Helvetica';
 }


