#work_experience
{
  width: 100%;
  margin:0px;
  padding: 0px;
  background: #001A33;
  margin:-5px 0px;
  padding:-5px 0px;
}

#experience
{
  width: 100%;
  text-align: center;
  
}

#experience img
{
  width:60%;
  height: auto;
  margin-top: 3em;
  border: none;
}



 .experience_bg
{
    background: url("../images/bgimages/Alice-web-design_03_3.gif") no-repeat top center;
    background-size:cover;
    max-width:70%;
    margin:auto;
    padding: 0px;
    color: white;
    padding-bottom: 20em;
        
 }

 .three_columns
 {
    width: 100%;
    display: grid;
    grid-template-columns:1fr 0.5fr 1fr;
 }

 .experience_text_left
 {
    text-align: left;
    width: 100%;
    padding-top: 20em;
 }

 .experience_text_right
 {
    text-align: right;
    width: 100%;
    padding-top: 20em;
 }

 .experience_text_right h2,  .experience_text_left h2
 {
    font-size: 1.2em;
    color: #FCC564;
    text-transform: uppercase;
    font-family: 'Helvetica';
    line-height: 2em;
 }

  .experience_text_right p,  .experience_text_left p
 {

    line-height: 1.3em;
    padding-bottom: 1em;
 }



@media screen and (max-width: 768px) 
{
  
  .experience_bg {
    max-width: 80%;  
    padding-bottom: 5em; 
    background: none !important;
    } 

  .three_columns {
    display: block;  
    margin-bottom: 5em;
    border-top: 1px dashed #ff4d4d;  
  }

  .experience_text_right, 
  .experience_text_left {
    text-align: left;  
    padding-top: 2em;  
    width: 100%;
  }

  #work_experience .experience_bg
  {
    background: none !important;
  }


}





